.nav-top {

    background-color: #003b95 !important;

}

.nav-menu {

    color: white !important;
    background-color: #003b95 !important;
    margin: 0.3em !important;
    border-radius: 0.3em !important;
    font-weight: bold !important;

}

.nav-menu:hover {


    background-color: rgba(255, 255, 255, 0.24) !important;

}


.btn-pesquisa {

    color: white !important;
    background-color: #0d6efd !important;
    border-radius: 0.3em !important;
    border-color: #003b95 !important;
    font-weight: bold !important;
}


.img-car {

    max-height: 50em !important;

}


.carousel-caption {

    background-color: rgba(233, 233, 233, 0.425) !important;
    width: auto !important;
    color: rgb(252, 252, 252) !important;
}


.divisao {

    background-color: #003b95 !important;
    color: white !important;
    text-align: center !important;
    padding: 5% !important;

}


.sec-pacotes {

    margin-left: 10% !important;
    margin-right: 10% !important;
    justify-content: center !important;
    margin: 0.5% !important;
}

.card {
    margin-left: 1em !important;
    padding: 1em !important;
}


footer {

    background-color: #003b95 !important;
    padding: 1em !important;
    color: white !important;
    text-align: center !important;
}


.sec-contatos{


margin-left: 2% !important;
margin-right: 2% !important;
}

.formulario{
    background-color: #003b95 !important;
}


